<div>
  Follower Count: <%= @tweet.users_followers %>
</div>

<div>
  Retweet Count: <%= @tweet.retweet_count %>
</div>

<div>
  Favorite Count: <%= @tweet.favorite_count %>
</div>
<br>
<div>Tweet Text: <%= @tweet.tweet_text %></div>
<br>
<div>
  <%= @tweet.source_url %>
</div>