<table class="table">
  <thead class="table-row">
    <tr>
      <th>
        Tweet
      </th>
      <th>
        User
      </th>
      <th>
        <%= link_to "Number of Followers", { action: "index", params: {page: 1, order: :users_followers}}%>
      </th>
      <th>
        <%= link_to "Retweet Count", { action: "index", params: {page: 1, order: :retweet_count}}%>
      </th>
      <th>
        <%= link_to "Favorite Count", { action: "index", params: {page: 1, order: :favorite_count}}%>
      </th>
      <th>
        Age
      </th>
      <th>
        <%= link_to "Created On", { action: "index", params: {page: @page, order: :tweet_date}}%>
      </th>
      <th>
        Reply
      </th>
      <th>
        Reject
      </th>
      <th>
        Done
      </th>
      <th>
        Save
      </th>
    </tr>
  </thead>
  <% @tweets.each_with_index do |tweet, index| %>
    <tr class="table-row">
      <td class="tweet-link">
        <%=link_to tweet.tweet_text, tweet.source_url, :target => "_blank" %>
      </td>
      <td class="tweet-user-data">
        <%=link_to tweet.user, tweet.user_source, :target => "_blank" %>
        <br>
        <%= link_to "X", { action: "blacklist_user", id: tweet.id, params: {page: @page, order: @order, user: tweet.user}}, {class: "blacklist-user-btn btn-xs"}%>
      </td>
      <td class="tweet-user-followers">
        <%= number_with_delimiter(tweet.users_followers, :delimiter => ',') %>
      </td>
      <td class="tweet-retweet-count">
        <%= number_with_delimiter(tweet.retweet_count, :delimiter => ',') %>
      </td>
      <td>
        <%= number_with_delimiter(tweet.favorite_count, :delimiter => ',') %>
      </td>
      <td class="tweet-age">
        <%= tweet.formatted_age %>
      </td>
      <td class="tweet-date">
        <%= tweet.formatted_date %>
      </td>

      <td class="tweet-reply-controls">

        <!-- Single button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle fa fa-reply" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>

          <% if tweet.mentions_length > 0 %>
            <input type="checkbox" checked="yes" class="include-mentions-count">
          <% end %>

          <ul class="dropdown-menu">
            <li class="pale-button">
              <a
                href=""
                data-user=<%=tweet.user%>
                data-id=<%=tweet.twitter_id%>
                data-mentions=<%=tweet.mentions_length%>
                class="pale reply-option">
                Pale
              </a>
            </li>

            <li>
              <a
                href=""
                data-user=<%=tweet.user%>
                data-id=<%=tweet.twitter_id%>
                data-mentions=<%=tweet.mentions_length%>
                class="dark reply-option">
                Dark
              </a>
            </li>

            <li>
              <a
                href=""
                data-user=<%=tweet.user%>
                data-id=<%=tweet.twitter_id%>
                data-mentions=<%=tweet.mentions_length%>
                class="agnostic reply-option">
                Agnostic
              </a>
            </li>

            <li>
              <a
                href="https://twitter.com/intent/tweet?in_reply_to=<%=tweet.twitter_id%>"
                data-user=<%=tweet.user%>
                data-id=<%=tweet.twitter_id%>
                data-mentions=<%=tweet.mentions_length%>
                class="manual reply-option">
                Manual
              </a>
            </li>
          </ul>
        </div>
      </td>
      <td class="buttons">
        <%= link_to "", { action: "mark_rejected", id: tweet.id, params: {page: @page, order: @order} }, {class: "btn btn-danger fa fa-times"}%>
      </td>
      <td>
        <%= link_to "", { action: "mark_done", id: tweet.id, params: {page: @page, order: @order} }, {class: "btn btn-primary fa fa-check"}%>
      </td>
      <td>
        <%= link_to "", { action: "mark_favorited", id: tweet.id, params: {page: @page, order: @order} }, {class: "btn btn-success fa fa-heart"}%>
      </td>

    </tr>
  <% end %>
</table>

<%= paginate @tweets, :theme => 'twitter-bootstrap-3' %>