<span class="nav-buttons">
  <%= button_to "View Rejected Tweets", { action: "rejected"}, {:method => :get, class: "view-rejected btn btn-danger"}%>
</span>
<span class="nav-buttons">
  <%= button_to "View Completed Tweets", { action: "done"}, {:method => :get, class: "view-completed btn btn-primary"}%>
</span>
<span class="nav-buttons">
  <%= button_to "View Saved Tweets", { action: "favorited"}, {:method => :get, class: "view-saved btn btn-success",
    :disabled => true}%>
</span>
<span class="nav-buttons">
  <%= button_to "home", { action: "index"}, {:method => :get, class: "view-tweets btn btn-info"}%>
</span>

<%= render partial: "table" %>