<span class="nav-buttons">
  <%= button_to "View Rejected Tweets", { action: "rejected"}, {:method => :get, class: "view-rejected btn btn-danger"}%>
</span>
<span class="nav-buttons">
  <%= button_to "View Completed Tweets", { action: "done"}, {:method => :get, class: "view-completed btn btn-primary"}%>
</span>
<span class="nav-buttons">
  <%= button_to "View Saved Tweets", { action: "favorited"}, {:method => :get, class: "view-saved btn btn-success"}%>
</span>
<span class="nav-buttons">
  <%= button_to "View Pending Tweets", { action: "index"}, {:method => :get, class: "view-tweets btn btn-info",
    :disabled => true}%>
</span>
<span class="nav-buttons">
  <%= button_to "Fetch new tweets", { action: "fetch_tweets"}, {:method => :get, class: "view-tweets btn btn-info"}%>
</span>

<table class="table">
  <thead class="table-row">
    <tr>
      <th>
        Text
      </th>
      <th>
        User
      </th>
      <th>
        Number of Followers
      </th>
      <th>
        Retweet Count
      </th>
      <th>
        Created On
      </th>
      <th>
        Triage
      </th>
    </tr>
  </thead>
  <% @tweets.each_with_index do |tweet, index| %>
    <tr class="table-row">
      <td class="tweet-link">
        <%=link_to tweet.tweet_text, tweet.source_url, :target => "_blank" %>
      </td>
      <td class="tweet-user-data">
        <%=link_to tweet.user, tweet.user_source, :target => "_blank" %>
      </td>
      <td class="tweet-user-followers">
        <%= number_with_delimiter(tweet.users_followers, :delimiter => ',') %>
      </td>
      <td class="tweet-retweet-count">
        <%= number_with_delimiter(tweet.retweet_count, :delimiter => ',') %>
      </td>
      <td class="tweet-date">
        <%= tweet.formatted_date %>
      </td>
      <td class="buttons">
        <%= button_to "Reject", { action: "mark_rejected", id: tweet.id }, {class: "btn btn-danger"}%>
        <%= button_to "Done", { action: "mark_done", id: tweet.id }, {class: "btn btn-primary"}%>
        <%= button_to "Save", { action: "mark_favorited", id: tweet.id }, {class: "btn btn-success"}%>
      </td>
    </tr>
  <% end %>
</table>