<span class="nav-buttons">
  <%= button_to "View Rejected Tweets", { action: "rejected"}, {:method => :get, class: "view-rejected btn btn-danger", :disabled => true}%>
</span>
<span class="nav-buttons">
  <%= button_to "View Completed Tweets", { action: "done"}, {:method => :get, class: "view-completed btn btn-primary"}%>
</span>
<span class="nav-buttons">
  <%= button_to "View Saved Tweets", { action: "favorited"}, {:method => :get, class: "view-saved btn btn-success"}%>
</span>
<span class="nav-buttons">
  <%= button_to "View Pending Tweets", { action: "index"}, {:method => :get, class: "view-tweets btn btn-info"}%>
</span>

<table class="table">
  <thead class="table-row">
    <tr>
      <th>
        Tweet
      </th>
      <th>
        User
      </th>
      <th>
        Number of Followers
      </th>
      <th>
        Retweet Count
      </th>
      <th>
        Favorite Count
      </th>
      <th>
        Age
      </th>
      <th>
        Created On
      </th>
    </tr>
  </thead>
  <% @tweets.each_with_index do |tweet, index| %>
    <tr class="table-row">
      <td class="tweet-link">
        <%=link_to tweet.tweet_text, tweet.source_url, :target => "_blank" %>
      </td>
      <td class="tweet-user-data">
        <%=link_to tweet.user, tweet.user_source, :target => "_blank" %>
        <br>
        <%= link_to "X", { action: "blacklist_user", id: tweet.id, params: {page: @page, order: @order, user: tweet.user}}, {class: "blacklist-user-btn btn-xs"}%>
      </td>
      <td class="tweet-user-followers">
        <%= tweet.users_followers %>
      </td>
      <td class="tweet-retweet-count">
        <%= tweet.retweet_count %>
      </td>
      <td>
        <%= tweet.favorite_count %>
      </td>
      <td class="tweet-age">
        <%= tweet.formatted_age %>
      </td>
      <td class="tweet-date">
        <%= tweet.formatted_date %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @tweets, :theme => 'twitter-bootstrap-3' %>