<span class="nav-buttons">
  <%= button_to "View Rejected Tweets", { action: "rejected"}, {:method => :get, class: "view-rejected btn btn-danger", :disabled => true}%>
</span>
<span class="nav-buttons">
  <%= button_to "View Completed Tweets", { action: "done"}, {:method => :get, class: "view-completed btn btn-primary"}%>
</span>
<span class="nav-buttons">
  <%= button_to "View Saved Tweets", { action: "favorited"}, {:method => :get, class: "view-saved btn btn-success"}%>
</span>
<span class="nav-buttons">
  <%= button_to "View Pending Tweets", { action: "index"}, {:method => :get, class: "view-tweets btn btn-info"}%>
</span>

<table class="table">
  <thead class="table-row">
    <tr>
      <th>
        #
      </th>
      <th>
        Text
      </th>
      <th>
        Link to Tweet
      </th>
      <th>
        User
      </th>
      <th>
        Number of Followers
      </th>
      <th>
        Retweet Count
      </th>
      <th>
        Created On
      </th>
    </tr>
  </thead>
  <% @tweets.each_with_index do |tweet, index| %>
    <tr class="table-row">
      <td>
        <%= index + 1 %>
      </td>
      <td class="tweet-text">
        <%= tweet.tweet_text %>
      </td>
      <td class="tweet-link">
        <%=link_to "Link", tweet.source_url, :target => "_blank" %>
      </td>
      <td class="tweet-user-data">
        <%= tweet.user %>
      </td>
      <td class="tweet-user-followers">
        <%= tweet.users_followers %>
      </td>
      <td class="tweet-retweet-count">
        <%= tweet.retweet_count %>
      </td>
      <td class="tweet-date">
        <%= tweet.formatted_date %>
      </td>
    </tr>
  <% end %>
</table>